# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
broadcast/

# Docs
docs/

# Dotenv file
.env
services/.env.agent.local
services/.env.calibrator.local
demo/.env.local
services/.env.local